<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="darts" src="{{ "/assets/img/darts.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Dart Motion </h3>
    <ul>
      <li> C# </li>
      <li> Unity </li>
    </ul>
    <p>Winner of the HackMerced 2017 Fall hackathon. Worked with a team to create a VR dart throwing game utilizing the Oculus Rift VR 
       Headset and a Leap Motion sensor. Demonstrated the potential of motion control and VR in fields ranging from the gaming
       industry to medicine.
    </p>
    <a class="project-link" href="https://devpost.com/software/dartmotion">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="rockets" src="{{ "/assets/img/rockets.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SmartRocketsJS </h3>
    <ul>
      <li> Machine Learning </li>
      <li> JavaScript </li>
      <li> p5.js </li>
    </ul>
    <p>Created a machine learning app based on the SmartRockets web app using the p5 JavaScript framework.
       Interesting experiment/learning experience in machine learning.</p>
    <a class="project-link" href="https://codepen.io/brimoo/pen/bwWova">Check it out</a>
  </div>
</div>
